@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

}
body a{
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    /* border: 1px solid; */
}
.logo{
    font-size: 2.8rem ;
    font-weight: bold;
    color: var(--text-color);
    cursor: default;
    font-family: "Sofia", cursive;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.navbar ul li a{
    font-size: 1.8rem;
    color: var(--text-color);
    /* margin-left: 4rem; */
    transition: .3s;
    font-family: "Montagu Slab", serif;
}

.navbar ul li a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display:none ;
}
#cross-icon{
    font-size: 3rem;
    color: var(--text-color);
    display:none ;
}


/* home page............................................. */

 section {
    padding: 15rem 9% 7rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    animation: slideInLeft 1s ease forwards;
}
.home-content h4{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Montagu Slab", serif;
    animation: fadeInUp 1.2s ease forwards;
    padding: 3px;
}
.home-content h3 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Montagu Slab", serif;
    animation: fadeInUp 1.2s ease forwards;
    padding: 3px;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.5rem;
}

.home-content h3 span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: "Sofia", cursive;
    animation: bounceIn 1.5s ease forwards;
    padding: 1px 3px;
}

.home-content p {
    font-size: 1.5rem;
    font-family: "Playwrite NG Modern", cursive;
    animation: fadeInUp 1.3s ease forwards;
    animation-delay: 0.3s;
    padding: 3px;
}

.home-img img {
    width: 35vw;
    animation: zoomIn 1.5s ease forwards;
    animation-delay: 0.5s;
    border-radius: 30px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    animation: rotateIn 1s ease forwards;
    animation-delay: 0.7s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-btn {
    padding: 13px 30px;
    display: inline-block;
    border-radius: 4rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--second-bg-color);
    transition: 0.5s ease;
    font-family: "Montagu Slab", serif;
    animation: heartbeat 1.5s infinite;
}

.home-btn:hover {
    box-shadow: none;
}

/* -------------------------- */
/* ANIMATION KEYFRAMES BELOW! */
/* -------------------------- */

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform: rotate(-200deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    60% {
        transform: translateY(30px);
        opacity: 1;
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}


/* About page................................. */
.about{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    background: var(--second-bg-color );
    width: 100%;
}
.about-img img{
    width: 35vw;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}
.about-content{
    /* border: 1px solid red; */
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    font-size: 4.5rem;
    font-family: "Montagu Slab", serif;
}
.about-content h3{
    font-size: 3.7rem;
}
.about-content p{
    font-size: 1.7rem;
    margin: 1.5rem 0 ;
    font-family: "Playwrite NG Modern", cursive;
}
.about-content h2 span{
    color: var(--main-color);
}
 
/* Services page.................................... */

#services{
    /* border: 1px solid green; */
    padding: 70px  20px;
}
#services h1{
    text-align: center;
    line-height: 1.2;
    font-size: 4.5rem;
    font-family: "Montagu Slab", serif;
    padding: 20px 10px 40px 10px;
}
#services h1 span{
    color: var(--main-color);
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
    /* border: 2px solid red; */
  }
  .card-list .card-item {
 
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    /* backdrop-filter: blur(30px); */
    /* background: white; */
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .card-list .card-item i{
    color:bisque;
    font-size: 5rem;
  }
  .card-list .card-item .user-name{
    font-size: 2.7rem;
    color: var(--main-color);
    padding: 5px;
    font-family: 'Sofia', cursive;
  }
  .card-list .card-item .user-profession {
    font-size: 1.5rem;
    color: #e3e3e3;
    font-weight: 500;
    text-align: center;
    padding: 5px;
  }
  
  .glow-on-hover {
    width: 170px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
  }
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .slider-wrapper .swiper-slide-button {
    color: var(--main-color);
    margin-top: -55px;
    transition: 0.2s ease;
  }
  .slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
  }
  @media (max-width: 768px) {
    .slider-wrapper {
      margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
  }


/* Portfolio page............ */
.portfolio{
    background: var(--second-bg-color);
    padding: 60px  20px;
}

.portfolio h2{
    text-align: left;
    line-height: 1.2;
    font-size: 4.5rem;
    font-family: "Montagu Slab", serif;
    padding: 40px;
    text-align: center;
}

.portfolio h2 span{
    color: var(--main-color);
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    /* border: 2px solid; */
    /* margin-top: -20px; */
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .8s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-box .portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-box .portfolio-layer p{
    font-size: 1.6rem;
    text-align: center;
    margin: .3rem 0 1rem;
}
.portfolio-box .portfolio-layer a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    text-align: center;
    align-content: center;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
    text-align: center;
}


/* Contact Page Design...... */
.contact{
    /* background: var(--second-bg-color); */
    padding: 60px  20px;
}

.contact h2{
    text-align: left;
    line-height: 1.2;
    font-size: 4.5rem;
    font-family: "Montagu Slab", serif;
    padding: 40px 20px 30px 20px;
    text-align: center;
}

.contact h2 span{
    color: var(--main-color);
}
.contact:hover{
    animation: zoomIn 1.5s ease forwards;
    animation-delay: 0.2s;
}
.contact form{
    max-width: 70rem;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
    /* border: 1px solid white; */
}
.contact form .input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input_box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input_box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact .btn{
    padding: 13px 30px;
    display: inline-block;
    border-radius: 4rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--second-bg-color);
    transition: 0.5s ease;
    font-family: "Montagu Slab", serif;
    animation: heartbeat 1.5s infinite;
}

.contact .btn:hover {
    box-shadow: none;
}

/* Footer design...... */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--second-bg-color);
    padding: 2rem 9%;
}
footer .footer_text p{
    font-size: 1.8rem;
}
.footer_iconTop a{
    display: inline-flex;
    padding: .8rem;
    background: var(--main-color);
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    transition: .5s ease;
}
.footer_iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer_iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



#chat-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  #chat-button:hover {
    background-color: var(--main-color);
    transform: translateY(-3px);
  }
  
  #chat-button i {
    margin-right: 8px;
  }



















/* Media query............................................ */
@media(max-width:980px){
    .portfolio-container{
        
        grid-template-columns: repeat(2, 1fr);
    }


}
@media(max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        /* border: 1px solid; */
        position: absolute;
        top: 60px;
        right: -100%;
        backdrop-filter: blur(10px);
        width: 40%;
        height: 100vh;
    }
    .navbar ul{
        flex-direction: column;
        margin: 80px 10px;
    }
    .active{
        right: 0;
    }
    .home{
        /* border: 2px solid green; */
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .home-img img{
        width: 50vw;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 50vw;
    }
}


@media(max-width:650px){
    .home-img img {
        width: 65vw;
    }
    .about-img img{
        width: 65vw;
    }
}
@media(max-width:600px){
    .navbar{
        width: 50%;
    }
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form .input_box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact form .input_box input{
        width: 100%;
    }
}



@media(max-width:550px){
    
    .home-content h3{
        font-size: 2.4rem;  
        padding: 5px;
    }
    .home-content h4{
        font-size: 2.4rem;
        padding: 5px;
    }
    .home-content h1{
        font-size: 5.6rem;
        padding: 5px;
    }
    .home-content p{
        font-size: 1.7rem;
        padding: 5px;
    }
}
@media(max-width:500px){
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h4{
        font-size: 2.2rem;
    }
    .home-content h1{
        font-size: 3.9rem;
    }
    .portfolio h2{
        font-size: 4rem;
        padding: 40px 10px;
    }
}
@media(max-width:450px){
    .home-img img {
        width: 72vw;
    }
    .about-img img{
        width: 72vw;
    }
}
@media(max-width:410px){
    .about-content h2{
        font-size: 4.2rem;
    }
    .about-content h3{
        font-size: 3rem;
    }
    .about-content p{
        font-size: 1.7rem;
    }
    .portfolio h2{
        font-size: 3.4rem;
    
    }
}

@media(max-width:400px){
    .home-content h3{
        font-size: 1.8rem;
       
    }
    .home-content h1{
        font-size: 4rem;
    }
    .home-content p{
        font-size: 1.7rem;
    }
    .home-img img{
        width: 77vw;
    }
    .about-img img{
        width: 77vw;
    }
    #services h1{
        font-size: 3.9rem;
    }
    
    .contact h2{
        font-size: 4rem;
    }
}

@media(max-width:380px){
    .home-content h3{
        font-size: 1.65rem;
       
    }
    .contact h2{
        font-size: 4rem;
    }
}
@media(max-width:360px){
   
    .contact h2{
        font-size: 3.5rem;
        padding: 40px 10px 30px 10px;
    }
}